* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 12px; }

header {
  height: 7.9rem;
  width: 100%;
  border-top: 0.5rem solid #572EE5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  z-index: 3;
  position: fixed;
  background-color: white;
  top: 0; }
  header .logo {
    width: 4rem;
    height: 4rem; }
  header img {
    margin: 0 1rem; }
  header input[type="checkbox"] {
    display: none;
    margin-right: 1rem; }
    header input[type="checkbox"]:checked ~ nav {
      display: flex;
      flex-flow: column wrap;
      top: 7rem;
      width: 100%;
      height: 100%;
      position: fixed;
      background: #572EE5;
      opacity: 90%; }
      header input[type="checkbox"]:checked ~ nav ul {
        padding-top: 1.4rem; }
        header input[type="checkbox"]:checked ~ nav ul li {
          padding-top: 1rem;
          padding-bottom: 1rem;
          font-weight: 700;
          font-size: 1.25rem; }
          header input[type="checkbox"]:checked ~ nav ul li::after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 3.3rem;
            border-bottom: 1px solid white;
            margin-top: 0.8rem; }
          header input[type="checkbox"]:checked ~ nav ul li:last-child {
            display: none; }
          header input[type="checkbox"]:checked ~ nav ul li a {
            color: white;
            text-decoration: none;
            line-height: 2.5rem; }
    header input[type="checkbox"]:checked ~ label .close-btn {
      display: initial; }
    header input[type="checkbox"]:checked ~ label .burger-btn {
      display: none; }
  header label {
    display: flex; }
    header label .close-btn {
      display: none; }
  header nav {
    display: none; }
    header nav ul {
      list-style: none; }

main {
  width: 100%;
  margin-top: 7.9rem;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center; }
  main .illus {
    width: 75%;
    margin-top: 5%;
    align-self: center; }
  main .home {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    width: 100%; }
    main .home h1 {
      font-size: 2rem;
      width: 80%;
      color: #572EE5;
      font-weight: bold;
      align-self: center; }
      main .home h1 span {
        color: #50E3C2;
        font-size: 2rem; }
    main .home .search-bar {
      border: 1px solid #572EE5;
      border-radius: 21rem;
      padding: 1rem 1.25rem 1rem 2rem;
      width: 90%;
      align-self: center; }
      main .home .search-bar .search {
        border: none;
        float: left;
        font-family: "Roboto", sans-serif;
        font-size: 1.33rem; }
      main .home .search-bar img {
        width: 1.25rem;
        float: right;
        margin-top: 0; }
    main .home .trends {
      margin: 10% 20%;
      text-transform: capitalize; }
      main .home .trends h3 {
        font-size: 1.3rem;
        color: #572EE5;
        font-weight: 700;
        line-height: 2rem; }
      main .home .trends p {
        margin: 1% 0;
        color: #572EE5;
        line-height: 2rem;
        font-size: 1.16rem;
        font-weight: 500; }
  main .trending {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #F3F5F8;
    padding: 13% 0 20% 0;
    width: 100%; }
    main .trending h3 {
      font-size: 1.6rem;
      line-height: 2.5rem;
      font-weight: 700;
      color: #572EE5; }
    main .trending p {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 4rem;
      width: 85%; }
    main .trending .carrusel {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 90%; }
      main .trending .carrusel .gif-home {
        width: 243px;
        height: 187px;
        margin: 5%; }
        main .trending .carrusel .gif-home:nth-child(2), main .trending .carrusel .gif-home:nth-child(3) {
          display: none; }
      main .trending .carrusel .flecha {
        display: none; }

footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-bottom: 5px solid #572EE5;
  padding: 10% 0 5% 0; }
  footer .share {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 7% 0 9% 0; }
    footer .share .title {
      font-family: "Roboto", sans-serif;
      font-size: 1.25rem;
      font-weight: 400;
      margin-bottom: 2rem; }
    footer .share .social a {
      display: inline-block;
      margin-right: 1.6rem; }
      footer .share .social a:last-child {
        margin-right: 0rem; }
    footer .share .social .fb {
      width: 7px;
      height: 17px;
      background-image: url(../img/icon_facebook.svg); }
      footer .share .social .fb:hover {
        background-image: url(../img/icon_facebook_hover.svg); }
    footer .share .social .tw {
      width: 18px;
      height: 17px;
      background-image: url(../img/icon-twitter.svg); }
      footer .share .social .tw:hover {
        background-image: url(../img/icon-twitter-hover.svg); }
    footer .share .social .ins {
      width: 18px;
      height: 18px;
      background-image: url(../img/icon_instagram.svg); }
      footer .share .social .ins:hover {
        background-image: url(../img/icon_instagram-hover.svg); }
  footer .sub-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.16rem;
    line-height: 1.6rem;
    font-weight: 400; }

/*# sourceMappingURL=style.css.map */
